    {% extends 'layout.html' %}

    {% block content %}
    <!-- Banner Title -->
    <div class="ready banner-padding bg-img bg-fixed valign" data-background="{{ url_for('static', filename='images/slider/05.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-right">
                        <div class="title mt-60 animate-box" data-animate-effect="fadeInUp">
                            <h1 class="mb-0">Читать</h1>
                            <h6>лифтинг-макияж</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-area py-120">
        <div class="container">
            <div class="row">
                <!-- Makeup Categories -->
                {% include 'includes/makeup_categories.html' %}
                <div class="col-xl-8 col-lg-8">
                    <div class="service-details">
                        <div class="service-details-img mb-30">
                            <img src="{{ url_for('static', filename='images/blog/blog_pages/bs3.jpg')}}" alt="">
                        </div>
                        <div class="service-details">
                            <h3 class="mb-20">Лифтинг-макияж</h3>
                            <p class="mb-20">
                                С возрастом главными недостатками становятся признаки старения, морщинки, менее чёткий овал
                                лица, тусклая кожа, потеря упругости и увлажненности кожи. Главная задача с помощью макияжа
                                визуально поднять все черты наверх, а именно линию бровей, внешний уголок глаза, скулы,
                                уголки рта. В лифтинг-макияже желательно использовать нюдовые оттенки и лёгкие по текстуре
                                тональные основы, чтобы лицо выглядело свежим и отдохнувшим. <b>Коррекция овала лица делается
                                с помощью 3 продуктов:</b> <b>а)</b> Скульптором прорабатываем участки, которые надо зрительно
                                приподнять: подчёркиваем скуловую косточку и оттягиваем ее немного вверх к виску, так же
                                затемняем линию челюсти и подбородка, чтобы скорректировать овал лица. <b>б)</b> Лучше всего
                                выбирать румяна с мерцающими частицами – они придадут коже дополнительное сияние, и за счёт
                                своего цвета создадут омолаживающий эффект. <b>с)</b> Сияние можно добавить во внутренние
                                уголки глаз и под брови. Но мерцание хайлайтера должно быть максимально деликатным, так
                                как «переборщив», можно подчеркнуть текстуру кожи. Чтобы не подчёркивать мелкие морщинки
                                по контуру губ, избегайте матовых помад и отдайте предпочтение тинтам, а сверху можно добавить
                                ваш любимый блеск.
                            </p>
                            <div class="row">
                                <div class="col-md-6 mb-20">
                                    <img src="{{ url_for('static', filename='images/blog/blog_pages/bss1.jpg')}}" alt="">
                                </div>
                                <div class="col-md-6 mb-20">
                                    <img src="{{ url_for('static', filename='images/blog/blog_pages/bss2.jpg')}}" alt="">
                                </div>
                            </div>
                            <p class="mb-20">
                                <h6>Не совершайте ошибки, которые визуально прибавляют возраст.</h6>
                                Отдайте предпочтение натуральным бровям. Вместо чёрного или тёмно-коричневого карандаша
                                используйте тени или помадку. Рисуйте мягкие, растушёванные линии. Если ваше подвижное
                                веко нависает, не наносите на них очень сияющие тени. Крупный шиммер добавит объёма, и
                                глаза будут казаться ещё более тяжёлыми.
                                Не используйте помады и блески тёмных оттенков, например: коричневые и бордовые - они
                                уменьшают объём.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
