    {% extends 'layout.html' %}

    {% block content %}
    <!-- Banner Title -->
    <div class="ready banner-padding bg-img bg-fixed valign" data-background="{{ url_for('static', filename='images/slider/05.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-right">
                        <div class="title mt-60 animate-box" data-animate-effect="fadeInUp">
                            <h1 class="mb-0">Читать</h1>
                            <h6>вечерний макияж</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-area py-120">
        <div class="container">
            <div class="row">
                <!-- Makeup Categories -->
                {% include 'includes/makeup_categories.html' %}
                <div class="col-xl-8 col-lg-8">
                    <div class="service-details">
                        <div class="service-details-img mb-30">
                            <img src="{{ url_for('static', filename='images/blog/blog_pages/bs2.jpg')}}" alt="">
                        </div>
                        <div class="service-details">
                            <h3 class="mb-20">Вечерний макияж</h3>
                            <p class="mb-20">
                                Вечерний макияж отличается от повседневного, первую очередь, яркостью и контрастностью.
                                Он любит яркие краски, мерцание блесток и перламутра. Мейкап создается исключительно под
                                определенный образ и наряд. Другой особенностью является возможность сделать сразу два акцента
                                — на глазах и губах (в дневном варианте это смотрелось бы вызывающе). Нельзя не отметить важный
                                нюанс: макияж должен хорошо смотреться при искусственном или приглушенном освещении, в противном
                                случае вас ждет визуальное искажение в виде сильного затемнения.
                                Подбирать вечерний макияж необходимо с учетом цвета глаз. К сожалению, не всегда оттенки теней,
                                которые нравятся, подходят под цвет глаз. Главное правило, которого следует придерживаться,
                                — не использовать тени одного цвета с радужкой или в крайнем случае наносить их на нижнее веко
                                (при нанесении на верхнее взгляд становится тусклым, теряется блеск).
                            </p>
                            <div class="row">
                                <div class="col-md-6 mb-20">
                                    <img src="{{ url_for('static', filename='images/blog/blog_pages/bss1.jpg')}}" alt="">
                                </div>
                                <div class="col-md-6 mb-20">
                                    <img src="{{ url_for('static', filename='images/blog/blog_pages/bss2.jpg')}}" alt="">
                                </div>
                            </div>
                            <p class="mb-20">
                                <h4>Вечерний макияж для карих глаз</h4>
                                Как правило, обладательницы этого цвета радужки имеют смуглую кожу и темные волосы. Чтобы
                                создать гармоничный образ и подчеркнуть природную яркость, рекомендуется использовать тени
                                лиловых, фиолетовых и золотых тонов.
                            </p>
                            <p class="mb-20">
                                <h4>Вечерний макияж для голубых глаз</h4>
                                Глаза небесного цвета принято считать самыми нежными и милыми. Чтобы подчеркнуть их красоту
                                и яркость, рекомендуется обратить внимание на коричневые, серые, лавандовые, персиковые,
                                перламутровые тени.
                            </p>
                            <p class="mb-20">
                                <h4>Вечерний макияж для зеленых глаз</h4>
                                Магический цвет, который притягивает к себе внимание. Прекрасным решением для создания
                            мейкапа станут оливковые, фиолетовые, изумрудные, лиловые, золотистые тени. Для подводки следует
                            использовать черные и темно-серые варианты.
                            </p>
                            <p class="mb-20">
                                <h4>Вечерний макияж для серых глаз</h4>
                                Невероятно загадочный цвет, который, прекрасно сочетается практически с любыми оттенками
                                теней. Наиболее гармоничные
                                варианты — серебряные, стальные, персиковые, фиолетовые, медные и т. д. Цветовая палитра
                                для макияжа серых и зеленых глаз практически не отличается.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
