    {% extends 'layout.html' %}

    {% block content %}
    <!-- Banner Title -->
    <div class="ready banner-padding bg-img bg-fixed valign" data-background="{{ url_for('static', filename='images/slider/03.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-right">
                        <div class="title mt-60 animate-box" data-animate-effect="fadeInUp">
                            <h1 class="mb-0">Портфолио</h1>
                            <h6>мои работы</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio -->
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 animate-box" data-animate-effect="fadeInUp">
                    <span>портфолио</span>
                    <h2>некоторые из моих работ</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                       <div class="col-md-2 animate-box" data-animate-effect="fadeInUp"> <span class="line-one"></span> </div>
                        <div class="col-md-7 mb-30 animate-box" data-animate-effect="fadeInUp">
                            <p>
                                <b>Добро пожаловать в мое портфолио! Я - профессиональный визажист со страстью к созданию
                                    красоты и уникальных образов. Мое портфолио является отражением моего творчества и опыта в индустрии макияжа.</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInUp">
                            <a href="{{ url_for('static', filename='images/portfolio/1.jpg')}}" title="Title" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"><img src="{{ url_for('static', filename='images/portfolio/1.jpg')}}" class="img-fluid mx-auto d-block" alt=""></div>
                                <div class="gallery-detail text-center"><i class="ti-plus"></i></div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInUp">
                            <a href="{{ url_for('static', filename='images/portfolio/1.jpg')}}" title="Title" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"><img src="{{ url_for('static', filename='images/portfolio/1.jpg')}}" class="img-fluid mx-auto d-block" alt=""></div>
                                <div class="gallery-detail text-center"><i class="ti-plus"></i></div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInUp">
                            <a href="{{ url_for('static', filename='images/portfolio/1.jpg')}}" title="Title" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"><img src="{{ url_for('static', filename='images/portfolio/1.jpg')}}" class="img-fluid mx-auto d-block" alt=""></div>
                                <div class="gallery-detail text-center"><i class="ti-plus"></i></div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInUp">
                            <a href="{{ url_for('static', filename='images/portfolio/1.jpg')}}" title="Title" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"><img src="{{ url_for('static', filename='images/portfolio/1.jpg')}}" class="img-fluid mx-auto d-block" alt=""></div>
                                <div class="gallery-detail text-center"><i class="ti-plus"></i></div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInUp">
                            <a href="{{ url_for('static', filename='images/portfolio/1.jpg')}}" title="Title" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"><img src="{{ url_for('static', filename='images/portfolio/1.jpg')}}" class="img-fluid mx-auto d-block" alt=""></div>
                                <div class="gallery-detail text-center"><i class="ti-plus"></i></div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInUp">
                            <a href="{{ url_for('static', filename='images/portfolio/1.jpg')}}" title="Title" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"><img src="{{ url_for('static', filename='images/portfolio/1.jpg')}}" class="img-fluid mx-auto d-block" alt=""></div>
                                <div class="gallery-detail text-center"><i class="ti-plus"></i></div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInUp">
                            <a href="{{ url_for('static', filename='images/portfolio/1.jpg')}}" title="Title" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"><img src="{{ url_for('static', filename='images/portfolio/1.jpg')}}" class="img-fluid mx-auto d-block" alt=""></div>
                                <div class="gallery-detail text-center"><i class="ti-plus"></i></div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInUp">
                            <a href="{{ url_for('static', filename='images/portfolio/1.jpg')}}" title="Title" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"><img src="{{ url_for('static', filename='images/portfolio/1.jpg')}}" class="img-fluid mx-auto d-block" alt=""></div>
                                <div class="gallery-detail text-center"><i class="ti-plus"></i></div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInUp">
                            <a href="{{ url_for('static', filename='images/portfolio/1.jpg')}}" title="Title" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"><img src="{{ url_for('static', filename='images/portfolio/1.jpg')}}" class="img-fluid mx-auto d-block" alt=""></div>
                                <div class="gallery-detail text-center"><i class="ti-plus"></i></div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInUp">
                            <a href="{{ url_for('static', filename='images/portfolio/1.jpg') }}" title="Title" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"><img src="{{ url_for('static', filename='images/portfolio/1.jpg')}}" class="img-fluid mx-auto d-block" alt=""></div>
                                <div class="gallery-detail text-center"><i class="ti-plus"></i></div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInUp">
                            <a href="{{ url_for('static', filename='images/portfolio/1.jpg')}}" title="Title" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"><img src="{{ url_for('static', filename='images/portfolio/1.jpg')}}" class="img-fluid mx-auto d-block" alt=""></div>
                                <div class="gallery-detail text-center"><i class="ti-plus"></i></div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInUp">
                            <a href="{{ url_for('static', filename='images/portfolio/1.jpg')}}" title="Title" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"><img src="{{ url_for('static', filename='images/portfolio/1.jpg')}}" class="img-fluid mx-auto d-block" alt=""></div>
                                <div class="gallery-detail text-center"><i class="ti-plus"></i></div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right animate-box" data-animate-effect="fadeInUp">
                            <p><a href="https://www.instagram.com/dolgorukaya_makeup/" class="underline-text">больше работ в instagram</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
