<div class="row">
                        <div class="col-md-12 text-center">
                            <ul class="blog-pagination-wrap align-center">
                                <li><a href="{{ url_for('blog.blog_two')}}"><i class="ti-arrow-left"></i></a></li>
                                <li><a href="{{ url_for('blog.blog_one')}}" class="active">1</a></li>
                                <li><a href="{{ url_for('blog.blog_two')}}">2</a></li>
                                <li><a href="{{ url_for('blog.blog_two')}}"><i class="ti-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>