<div class="col-md-4 animate-box" data-animate-effect="fadeInUp">
                    <div class="blog-sidebar row">
                        <div class="col-md-12">
                            <div class="widget">
                                <div class="widget-title">
                                    <h6>Теги</h6></div>
                                <ul class="tags">
                                    <li><a href="{{ url_for('blog.blog_everyday')}}">Повседневный</a></li>
                                    <li><a href="{{ url_for('blog.blog_evening')}}">Вечерний</a></li>
                                    <li><a href="{{ url_for('blog.blog_lifting')}}">Лифтинг</a></li>
                                    <li><a href="{{ url_for('blog.blog_bridal')}}">Свадебный</a></li>
                                    <li><a href="{{ url_for('blog.blog_photoshoot')}}">Для фотосессии</a></li>
                                    <li><a href="{{ url_for('blog.blog_magazines')}}">Публикации</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>